header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  height: 4rem;

  padding: 0 2rem;
  /* margin: 0.5rem 0; */
}

.logo {
  width: 120px;
}

main {
  position: relative;
  padding: 0 2rem;
  margin-top: 1.25rem;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding: 0 1rem;
  font-size: 0.8rem;
  font-weight: 500;
}

button {
  border-radius: 0.5rem;
  color: var(--white);
  font-weight: 500;

  transition: filter 0.2s;
}

button:hover {
  filter: brightness(0.9);
}

.btn-header {
  background: var(--blue-500);
  height: 1.75rem;
  padding: 0 1rem;

  font-size: 0.5rem;
}

.btn-lang {
  color: black;
  border: 1px solid black;
  border-radius: 50%;
  padding: 5px;
  font-size: 7px;
  background: var(--white);
}

button[type="submit"] {
  background: var(--red-500);
  margin: 2rem 0;
  height: 2rem;
  font-size: 0.75rem;
}

form {
  position: absolute;
  right: 60px;
  bottom: -2px;
  
  display: flex;
  flex-direction: column;
  width: 330px;

  border-radius: 1rem;

  padding: 0 1.5rem;

  background: var(--white);

  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  margin-top: -320px;

  z-index: 10;
}

form h1 {
  font-size: 1.25rem;
  color: var(--blue-400);
  line-height: 2;
  margin: 2rem 0;
}

.input-container {
  position: relative;
}

div.input-container ~ div.input-container {
  margin-top: 1rem;
}

input[type="text"], input[type="email"], select {
  height: 2.5rem;

  border: 1px solid var(--gray-blue-500);
  border-radius: 0.5rem;

  padding: 0 0.75rem;

  font-size: 0.75rem;

  width: 100%;
}

select {
  /* height: 2.5rem;

  border: 1px solid var(--gray-blue-500);
  border-radius: 0.5rem;
 */
  /* padding: 0 1rem; */
  
  /* font-size: 0.65rem; */

  margin-top: 1rem;

  color: var(--text);
}

input:focus, select:focus {
  outline: none;
  box-shadow: 0 0 2px 0 var(--blue-500);
}

input[type="checkbox"] {
  vertical-align: bottom;
  cursor: pointer;
}

label {
  font-size: 0.65rem;
  color: black;
}

label a {
  text-decoration: underline;
}

.checkbox-container {
  margin-top: 1rem;
  display: flex;
  align-items: center;

  text-align: left;
}

div.input-container span {
  position: absolute;
  top: -8px;
  left: 12px;

  color: var(--blue-400);
  font-size: 0.75rem;
  font-weight: 500;

  padding: 0 0.25rem;
  background-color: var(--white);
  z-index: 10;
}

select option {
  line-height: 2.5;
}

.img-background {
  border-radius: 1rem;
  max-height: 400px;
  /* max-width: 2560px; */
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-around;
}

.providers-content {
  margin-top: 1rem;
  width: 60%;
}

.providers-container {
  display: flex;
  flex-wrap: wrap;

  margin-top: 1rem;
}

.square {
  height: 50px;
  width: 80px;
  background-color: var(--gray-100);

  margin: 0.5rem;
}